.paral{
    background-image: url("img1.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#div2{
    margin: auto;
}
#audio{
    margin: auto;
    text-align: center;
}
#images{
    height: auto;
    text-align: center;
}